@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Lato:ital,wght@0,300;0,400;1,700&display=swap');* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee !important;
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}
ul{
	list-style-type: none;
}
